<!DOCTYPE html>
<html lang="en" ng-app="scrappyBan">
<head> 
	<meta charset="utf-8" />
	<meta name="keywords" content="kanban" />
	<meta name="description" content="Scrappy Ban allows users to track personal and professional tasks until they are done." /> 
    <!--
	<meta property="og:title" content="Scrappy Ban" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.scrappyban.com" />
	<meta property="og:image" content="http://www.scrappyban.com/images/logo.png" />
    -->
	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>	
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css' />
	<!-- custom js/CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <script src="core.js"></script>
	  
	<!-- cmSideDrawer 
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <link rel="Shortcut Icon" href="/images/favicon.png" />  
	<link rel="stylesheet" type="text/css" href="css/cmSideDrawer.css"/>
	<script src="js/cmSideDrawer.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <title>Scrappy Ban | Personal Kanban</title>
</head>
<!-- controller -->
<body ng-controller="mainController" ng-init="initialize()">
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Total Stickies <span class="label label-info">{{ stickies.length }}</span></h1>
		</div>

		<!-- Display List -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="checkbox" ng-repeat="sticky in stickies">
					<label>
						<input type="checkbox" ng-click="deleteSticky(sticky._id)"> {{ sticky.text }}
					</label>
				</div>

			</div>
		</div>

		<!-- FORM TO CREATE STICKIES -->
		<div id="sticky-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						<!-- BIND THIS VALUE TO formData.text -->
						<input type="text" class="form-control input-lg text-center" placeholder="Add a new sticky" ng-model="formData.text">
					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createSticky()">Add</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>